header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  z-index: 50;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.burger {
  display: none;
}

.container {
  width: 1200px;
}

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.corners {
}

.spaceX {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.menu ul {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  position: relative;
  z-index: 100;
}

.menu ul li {
  padding-top: 10px;
}

.menu ul li a {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.menu ul li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.menu ul li a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.menu ul li a:hover {
  color: rgba(255, 255, 255, 0.4);
}

.active ul {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    z-index: 100;
  }
  
  .active ul li {
    padding-top: 10px;
  }
  
  .mactiveenu ul li a {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }
  .active ul li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  
  .active ul li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
  }
  
  .active ul li a:hover {
    color: rgba(255, 255, 255, 0.4);
  }

@media (max-width: 1200px) {
  .container {
    width: 992px;
  }
  .menu ul {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .active ul {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 768px;
  }
  .menu ul {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
  .menu ul li a {
    font-size: 11px;
    text-decoration: none;
    color: white;
  }
  .active ul {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
  .active ul li a {
    font-size: 11px;
    text-decoration: none;
    color: white;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .corners img{
      width: 70%;
  }
  .spaceX {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%);
  }
  .spaceX img{
      width: 100%;
  }
  .burger {
    display: block;
    position: relative;
    z-index: 2;
    width: 30px;
    height: 20px;
    margin: 10px;
  }
  .burger:before,
  .burger:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .burger:before {
    top: 0;
  }
  .burger:after {
    bottom: 0;
  }
  .burger span {
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .burger_act {
    display: block;
    position: relative;
    z-index: 2;
    width: 30px;
    height: 20px;
    margin: 10px;
  }
  .burger_act:before,
  .burger_act:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .burger_act:before {
    top: 9px;
    transform: rotate(45deg);
  }
  .burger_act:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger_act span {
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .menu {
    position: fixed;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0 0 0;
    transition: all 0.3s ease 0s;
  }
  .active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(81, 58, 165, 0.8);
    padding: 100px 0 0 0;
    transition: all 0.3s ease 0s;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
  }
  .menu ul li {
    padding-top: 30px;
  }
  .menu ul li a {
    font-size: 18px;
  }

  .active ul {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  .active ul li {
    padding-top: 30px;
  }
  .active ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
}
